header{
    width: 55rem;
    margin-left: 15rem;
}

main{
    margin-left: 15rem;
}

.profile{
    display: flex;
    flex-direction: row;
    margin-left: 10rem;
    margin-top: 2rem;
    margin-bottom: 3rem;
    width: 40rem;
}

.profile img{
    border-radius: 10rem;
    width: 9rem;
    height: 9rem;
}

.profile-info{
    display: flex;
    flex-direction: column;
    margin-left: 6rem;
}

.profile-info-top{
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
    
}

.profile-info-top button{
    width: 7rem;
    height: 2.2rem;
    border-radius: 0.5rem;
    border-style: none;
    font-weight: bold;
    margin-left: 1rem;
    margin-top: -0.5rem;
}

.profile-info-top img{
    width: 2rem;
    height: 1.8rem;
    margin-left: 0.5rem;
    margin-top: -0.4rem;
}

.profile-info-top p{
    font-size: 1.2rem;
}

.profile-info-bottom{
    display: flex;
    flex-direction: row;
    margin-top: 0.5rem;
    margin-left: -0.7rem;
}

.profile-info-bottom p {
    margin-left: 1.2rem;
}

.user-name-pronouns{
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
}

.user-name-pronouns p{
    margin-left: 0.5rem;
    font-size: 0.9rem;
}

.user-name-pronouns p:first-child{
    font-weight: bold;
}

.user-name-pronouns p:nth-child(2){
    color: rgb(145, 144, 144);
}

/*TABS*/

.tabs{
    border-top-style: solid;
    border-top-color:  rgb(145, 144, 144);
    color: rgb(145, 144, 144);
    justify-content: center;
    border-top-width: 0.05rem;
    width: 60.5rem;
    height: 3rem;
    margin-left: 5rem;
    font-weight: bold;
}

.publications{
    border-top-style: solid;
    border-top-width: 0.1rem;
    color: white;
}

.tabs-inner-cont{   
    display: flex;
    flex-direction: row;
    margin-left: 17rem;
}

.tabs-inner-cont div{
    display: flex;
    flex-direction: row;
    margin-right: 4rem; 
}

.tabs-inner-cont div:hover{
    cursor: pointer;
}

.tabs-inner-cont p{
    margin-top: 1rem;
    font-size: 0.75rem;
}

a:visited, a:link{
    text-decoration: none;
    color: rgb(145, 144, 144);
}

.grid{
    width: 1rem;
    height: 1rem;
    margin-right: 0.2rem;
    margin-top: 0.9rem;
}

.tag{
    width: 1rem;
    height: 1rem;
    margin-right: 0.2rem;
    margin-top: 1rem;
}

.bookmark{
    height: 0.8rem;
    margin-right: 0.2rem;
    margin-top: 1rem;
}