/*POSTS*/

.grid-container-post{
    display: grid;
    grid-template-columns: 20rem 20rem 20rem;
    column-gap: 0.25rem;
    row-gap: 0.25rem;
    margin-left: 5rem;
}

.grid-container-post img{
    width: 20rem;
    height: 20rem;
}
