*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #000000;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-columns: auto auto;
}

/*POSTS*/

.grid-container-post{
    display: grid;
    grid-template-columns: 20rem 20rem 20rem;
    column-gap: 0.25rem;
    row-gap: 0.25rem;
    margin-left: 5rem;
}

.grid-container-post img{
    width: 20rem;
    height: 20rem;
}

.grid-container-post div:hover{
    background-color: rgba(145, 144, 144, 0.5);
}



/*FOOTER*/
footer{
    display: flex;
    flex-direction: row;
    margin-left: 18rem;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    color: rgb(218, 218, 210);
}

footer p{
    font-size: 0.8rem;
    margin-left: 0.5rem;
}